<header>
    <div class="header-content">
        <h1>ENTREGA FINAL - ECOMERCE F!NE</h1>
        <nav>
            <ul>
                <li>
                    <div id="submenu-container">
                        <a href="/products">Productos</a>
                    </div>
                </li>
                <li>
                    <div id="submenu-container">
                        <a href="/realtimeproducts">Real Time Products</a>
                    </div>
                </li>
            </ul>
        </nav>
        <a href="/cart/:cid"><img class="icon_cart" src="/cart_icon.png" alt="Carrito de Compras"></a>
    </div>
</header>