<header>
    <div class="header-content">
        <h1>Pre-Entrega 2</h1>
        <nav>
            <ul>
                <li>
                    <div id="submenu-container">
                        <a href="#">Productos</a>
                        <div id="submenu-options">
                            <ul>
                                <li><a href="#">Agregar Producto</a></li>
                                <li><a href="#">Eliminar Producto</a></li>
                                <li><a href="#">Buscar Producto</a></li>
                                <li><a href="#">Real Time Products</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <img class="icon_cart" src="/cart_icon.png" alt="Carrito de Compras">
    </div>
</header>